<nav class="sidebar" *ngIf="sidebarOpened">
  <header class="logo">
    <a routerLink="/app">WH <span style="font-weight:600">Engenharia</span></a>
  </header>
  <ul class="nav">
    <app-nav-link
      [activeItem]="activeItem"
      header="Inicio"
      link="/app/dashboard"
      iconName="flaticon-home"
      index="dashboard"
      [isHeader]="true"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="Cadastros"
      link="/app/configuracoes"
      iconName="flaticon-home"
      index="configuracoes"
      [childrenLinks]="cadastros"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="Obras"
      link="/app/obras"
      iconName="flaticon-list"
      index="obras"
      [isHeader]="true"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="Compras"
      link="/app/compras"
      iconName="flaticon-more"
      index="compras"
      [childrenLinks]="compras"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="Financeiro"
      link="/app/financeiro"
      iconName="flaticon-home"
      index="financeiro"
      [childrenLinks]="financeiro"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="RH"
      link="/app/rh"
      iconName="flaticon-home"
      index="rh"
      [childrenLinks]="rh"
    ></app-nav-link>

    <app-nav-link
      [activeItem]="activeItem"
      header="Relatorios"
      link="/app/relatorios"
      iconName="flaticon-document"
      index="relatorios"
      [childrenLinks]="relatorios"
    ></app-nav-link>
  </ul>
</nav>
