<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=osvaldotneto-t.eastus2.cloudapp.azure.com,1469;Initial Catalog=WHEngenharia;user id=whengenharia;password=ba2c5@a0-66#0-4A54-84F3-0563#13743bc;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>