@import '../../../styles/app';

.entradas-page {
    p {
      margin-bottom: 1.4rem;
    }
}

.tab-title-class-active {
  color: yellow !important;  
}

.tab-title-class-inactive {
  color: #FFFFFF !important;  
}
